.search {
    &-container {
        width: 100%;
        height: 95px;
        background-color: #171a21b7;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        position: fixed;
        padding: 13px 8px;
        top: 0;
        left: 0;
        z-index: 4;
        box-shadow: 0 0 7px 0 rgb(0 0 0 / 75%);
    }
    &-form {
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        float: right;
        font-size: 15px;
        letter-spacing: 1px;
    }
    &-input {
        margin-right: 0px;
        text-shadow: 1px 1px 0px rgb(255 255 255 / 10%);
        color: whitesmoke;
        padding: 6px;
        width: 200px;
        height: 32px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        outline: none;
        border: none;
        float: right;
        position: absolute;
        top: 40%;
        right: 3.6%;
        overflow: hidden;
        background: #2e5f80e0;
        &:focus {
            color: #93b3c8;
        }
        &:hover {
            border: 0.1px solid #93b3c8;
            ;
        }
    }
    &-button {
        height: 32px;
        border: none;
        float: right;
        position: absolute;
        top: 40%;
        right: 0%;
        margin-right: 5px;
        outline: none;
        background: #69869a;
        padding: 10px;
        border-left: 1px solid rgba(0, 0, 0, 0.3);
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        font-weight: 600;
        font-size: 15px;
        letter-spacing: 1px;
        transition-duration: 0.3s;
        cursor: pointer;
        &:hover {
            background-color: #b0d0e6;
        }
        img {
            height: 18px;
        }
    }
}

.search-form {
    position: relative;
}

#upper {
    position: absolute;
    height: 120%;
    width: 10%;
    margin-top: 0%;
    filter: brightness(1.25);
    left: 6%;
    cursor: pointer;
}

#down {
    position: relative;
    height: 22%;
    width: 25%;
    filter: brightness(1.4);
    margin-top: 1%;
    cursor: pointer;
}