.filters {
    max-width: 1250px;
    margin: 65px auto;
    padding-left: 10px;
}

::ng-deep {
    .mat-form-field-infix {
        background: linear-gradient( 90deg, #21a2ff40 0%, #21a2ff26 50%, #32323300 100%);
    }
    .mat-select-value,
    .mat-select-arrow,
    .mat-form-field-hide-placeholder .mat-select-placeholder,
    .mat-form-field-appearance-legacy .mat-form-field-label {
        color: #fff !important;
        opacity: 1;
    }
    .mat-form-field-infix {
        border-color: #fff !important;
        border-top: none;
        padding-left: 5px !important;
        width: 200px !important;
    }
    .mat-form-field-appearance-legacy .mat-form-field-label {
        padding-left: 5px;
    }
    .mat-form-field-appearance-legacy .mat-form-field-underline {
        background-color: #fff !important;
    }
}