<div class="container-fluid">
    <div class="inner">


        <div class="col-12">
            <ngb-carousel>
                <ng-template ngbSlide>
                    <video class="vid1" autoplay loop muted>
                    <source src="../../../assets/valorant2.mp4" type="video/mp4" />
                  </video>
                    <div class="side carousel-caption">
                        <img src="../../../assets/valorant.png" style=" height: 130px; width: 195px;" alt="logo">
                        <h2>Defy the Limits</h2>
                    </div>

                </ng-template>

                <ng-template ngbSlide>
                    <video class="vid" autoplay loop muted>
                    <source src="../../../assets/nfs2.mp4"
                     type="video/mp4" />
                  </video>
                    <div id="detail" class="side carousel-caption">
                        <img src="../../../assets/nfs-logo2.png" style=" height: 85px; width: 185px;" alt="">
                        <h2>I do not fear, for you are with me</h2>
                    </div>
                </ng-template>

                <ng-template ngbSlide>
                    <video class="vid" autoplay loop muted>
                    <source src="../../../assets/gta2.mp4" type="video/mp4" />
                  </video>
                    <div class="side carousel-caption">
                        <img src="../../../assets/gta-logo.png" style=" height: 100px; width: 185px;" alt="">
                        <h2>Nice, But not Nice. But still Nice!</h2>
                    </div>
                </ng-template>

                <ng-template ngbSlide>
                    <video class="vid" autoplay loop muted>
                    <source src="../../../assets/cod2.mp4" type="video/mp4" />
                  </video>
                    <div class="side carousel-caption d-none d-md-block">
                        <img src="../../../assets/cod-logo.png" style="height: 100px; width: 195px;" alt="">
                        <h2>In the war that changed the world, no one fought alone</h2>
                    </div>
                </ng-template>
                <ng-template ngbSlide>

                    <video class="vid" autoplay loop muted>
                    <source src="./../../../assets/assasin2.mp4" type="video/mp4" />
                  </video>
                    <div class="side carousel-caption">
                        <img src="../../../assets/assassin-logo.png" style="height: 120px; width: 165px;" alt="">
                        <h2>We work in the Dark, to serve the Light. We are Assassins</h2>

                    </div>
                </ng-template>

                <ng-template ngbSlide>
                    <video class="vid" autoplay loop muted>
                    <source src="../../../assets/plant2.mp4" type="video/mp4" />
                  </video>
                    <div class="side carousel-caption">
                        <img src="../../../assets/plant.png" style="height: 160px; width: 190px;" alt="">
                        <h2>There's a zombie on your lawn! Get ready to soil your plants!</h2>
                    </div>
                </ng-template>
            </ngb-carousel>
        </div>
    </div>
</div>