<div class="streamers">
    <h3>TOP STREAMERS</h3>
    <ul class="list-group list-group-flush">
        <a target="blank" href="https://www.youtube.com/c/Ninja" class="list-group-item">Ninja (24M+ followers)</a>



        <a target="blank" href="https://www.youtube.com/c/auron" class="list-group-item">Auron (12.2M+ followers)</a>
        <a target="blank" href="https://www.youtube.com/user/TTfue
        " class="list-group-item">Tfue (12M+ followers)</a>
        <a target="blank" href="https://www.youtube.com/channel/UCaY_-ksFSQtTGk0y1HA_3YQ" class="list-group-item">Ibai (7.23M+ followers)</a>
        <a target="blank" href="https://www.youtube.com/c/shroud
        " class="list-group-item">Shroud (6.81M+ followers)</a>
        <a target="blank" href="https://www.youtube.com/c/Myth_YT" class="list-group-item">Myth (4.59M+ followers)</a>

        <a target="blank" href="https://www.youtube.com/c/iFerg" class="list-group-item">iFerg (2.32M+ followers)</a>
        <a target="blank" href="https://www.youtube.com/c/xQcOW
        " class="list-group-item">xQcOW (1.8M+ followers)</a>





    </ul>
</div>